body {
  background-color: #f9fafb;
  color: #000;
}

.scroll-bar-width {
  scrollbar-width: thin;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}
